/application.yml
/application.properties
asciidoctor.css
*~
.#*
*#
target/
build/
bin/
_site/
.classpath
.project
.settings
.springBeans
.DS_Store
*.sw*
*.ipr
*.iws
.factorypath
spring-xd-samples/*/xd
dump.rdb
.apt_generated
artifacts
.idea/workspace.xml
.idea/misc.xml

